/* Основные стили */
body {
    font-family: 'Montserrat', sans-serif; /* Жирный эстетичный шрифт */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f8e8a0, #d3af37); /* Эстетичный градиент */
    background-image: url('pretzel.png'), url('berlin_wall.png'), url('tv_tower.png'), url('castle.png'), url('national_costume.png');
    background-repeat: no-repeat;
    background-position: center top, center bottom, left top, right top, left bottom;
    background-size: 100px, 100px, 200px, 200px, 150px;
    color: #333;
}

/* Шапка сайта */
header {
    background-color: transparent;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Навигация */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav ul ul li {
    margin: 0;
}

nav ul li a:hover,
nav ul li a:focus {
    text-decoration: underline;
    color: #d3af37;
}

/* Основные секции */
section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Вступительный блок */
.welcome {
    text-align: center;
    margin-top: 50px;
}

/* Заголовки */
h1 {
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

/* Параграфы */
p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    line-height: 1.8;
}

/* Кнопки */
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover,
button:focus {
    background-color: #666;
    outline: none;
    transform: scale(1.05);
}

/* Подвал */
footer {
    background-color: transparent;
    color: #000;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

/* Адаптивность */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul ul {
        position: static;
    }

    section {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        padding: 8px 16px;
    }
}
